/***********************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


/*************************
*******Typography******
**************************/

body {
  background: #fff;
  font-family: 'Ropa Sans', sans-serif;
  line-height: 22px;
  color:#fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Anton', sans-serif;
  color:#4e4e4e;
}

h1{
  font-size: 36px;
  color:#fff;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #fff;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #e8391a;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
ul.nav.navbar-nav li a{
	padding:5px 15px !important;
	    font-family: 'Ropa Sans', sans-serif;
}
ul.nav.navbar-nav{
    float: right;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 20px;
}
#logo{
	position:relative;
}
navbar-fixed-top fixed-theme .navbar-header a#brand{
	    width: 72px;
    font-size: 20px;
}
#brand{
	border-left: none;
    border-top: none;
    color: #fff;
    display: inline-block;
    font-family: "pragmatica-web-condensed",sans-serif;
    font-size: 40px;
    font-weight: 900;
    height: 125px;
    letter-spacing: 0;
    line-height: 0.85em;
    margin: 13px;
    opacity: 1;
    padding: 7px 0 0 7px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    width: 104px;	
}
.navbar-brand.logo.fixed-theme{
	font-size: 16px !important;
    height: 58px !important;
    padding: 2px 5px !important;
    color: #000;
	width:50px;
    border-left: none;
    border-top: none;
}


/*#brand:hover {
    border-color: #000 #333 #333 #000;
    border-style: solid;
    border-width: 26px;
    box-shadow: -15px -15px 0 #DDDDDD;
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 21px;
    padding-left: 10px;
    padding-top: 16px;
    transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
}*/
#logo span {
    font-size: 11px;
    letter-spacing: 0px;
    margin: -20px 0 0 23px;
    position: absolute;
    left: 0px;
    top: 176px;
    width: 115px;
    text-transform: initial;
}
.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}
.btn-primary:hover, 
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #e8391a;
  text-decoration: none;
  outline: none;
  font-weight:600;
}
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 0px;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #000;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 16px !important;
    width: 58px !important;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
#top_section{
	/*background: url(../img/Nice-Polygon-Wallpaper.jpg);*/
	height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
}
#profile{
	background:#e6e6e6;
	padding-bottom: 80px;
}
#caption{
	background:url(../img/background-experience.jpg);
	position: relative;
    animation: animatedBackground 40s linear infinite;
    padding: 0 0 70px 0;
}
#caption h2.caption{
	padding-top:80px;
}
#contact p{
	color:#000;
}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.navbar.navbar-fixed-top.fixed-theme span{
	display:none;
}
footer{
	background:#1f080e;
	margin-top:-1px;
	color:#fff;
}
footer p{
	font-size: 16px;
    margin: 15px 0px;
}
#hireme{
	background:#e6e6e6;
}
.container-fluid{
	width:980px;
}
#copyright{
	margin: 20px 0px;
}
#bio span a{
	text-decoration:underline;
}
.name{
	color:#f1f1f1;
	font-size:54px;
	line-height: 76px;
	font-family: 'Anton', sans-serif;
	text-align: right;
    padding: 0px 70px 0 0;
}
.bio{
	padding-top:180px;
}
.bio-caption{
	padding: 0px 0px 0 0px;
	font-size: 50px;
    line-height: 60px;
	font-family: 'Anton', sans-serif;
	font-weight: 400 !important;
}
#bio{
	padding:200px 0 100px 30px;
	font-size: 22px;
	line-height: 26px;
}	
#bio p{
	margin: 20px 0px;
}
.path{
	background: #fff;
    height: 10px !important;
    padding: 10px 0 0 0;
}
.caption{
	font-size:70px !important;
	line-height:70px;
	font-family: 'Anton', sans-serif;
	    padding-bottom: 50px;
	color:#d13135;
}
#caption p:nth-child(2){
	font-size:30px;
	line-height: 45px;
    padding: 0px 40px 0px 40px;
    text-align: center;
}
.inspiration{
	color:#490b01;	
}
.profileImg{
	margin-top:20px;
}
.paddingLeft{
	padding-left:0px;
}
.paddingRight{
	padding-right:0px;
}
#profile img.img-responsive {
    padding-bottom: 30px;
} 
section#contact {
    padding-bottom: 80px;
    background: #cc0d32;
}
svg:not(:root) {
    overflow: hidden;
}
.experience-wrapper svg {
    width: 7em;
    height: 7em;
    margin-bottom: 1em;
}
.web-design-icon path {
    fill: #fff;
    stroke: #521d17;
}
.js-wp-animate-icon {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}.js-wp-animate-icon, .js-wp-animate-experience-sub-heading, .js-wp-animate-experience-skills {
    opacity: 0;
}
.js-wp-animate-icon.animated, .js-wp-animate-experience-sub-heading.animated, .js-wp-animate-experience-skills.animated {
    opacity: 1;
}
#about{
/*	background:url("../images/su_img.png");*/
	background-repeat: no-repeat;
    background-position: left;
	color:#490b01;
	background-size: contain;
	padding:70px 0px 0 0;
	text-align:center;	
}
#about p{
	padding:0px 0 0 0px;
	font-size:18px;	
}
.about-section .caption{
	color:#fff;
}
#about p:nth-child(1) span{
	color:#490b01;	
}
#about p:nth-child(2){
	font-size:24px;
	font-weight:600;
	padding:0px 0 0 0px;
	line-height:30px;
	    margin: 0 0 10px 0;
}
#about p:nth-child(3),#about p:nth-child(4){
	margin-bottom:10px;	
}
.logo-img{
	width: 42%;
    padding: 20px 0;
}
.navbar-container.fixed-theme .logo-img{
	width:30% !important;
}
#contact .caption {
  color: #e82a14 !important;
}
#contact button{
    background-color: #290c11;
  border: 1px solid #ee451e;
  padding: 6px 22px;
  position: relative;
  margin: 0 auto;
}
#contact button:hover{
	background-color: #ee451e;
}
.font-22{
	font-size: 22px;
	padding-bottom: 12px;
}
i.fa.fa-linkedin{
	padding: 10px;
	margin-top: 16px;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #42DCA3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}
.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
}
.navbar-custom .navbar-toggle {
  color: white;
  font-size: 22px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/intro-bg.jpg) no-repeat scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.about-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/about_bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }

}

#work img{
	margin-bottom:30px;
	width: 100%;
}
#skill{
	padding:80px 0;
	color:#000;
}
img.ux{
	width:40% !important;
}
#skill p{
	margin-top: 14px;
    font-size: 20px;
}
#work{
	padding-top:80px;
}
#contact h2.caption{
	margin-top:80px;
	color: #fff !important;
}
#skill img{
	width:34%;
}
#skill img.last{
	width:26%;
}
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
#brand{
	font-size: 20px;
    width: 72px;
    height: 80px;
    margin: 5px 5px 5px 16px !important;
}
#logo span{
	display:none;
}
ul.nav.navbar-nav{
	text-align:right;
	margin-right:10px;
}
#bio {
    padding: 30px 0 50px 30px;
}
.caption{
	padding: 0px 0px 50px 0px;
}
#work img{
	padding:0 15px;
}
.about-section{
	background-position: 40% 27%;
}
.intro{
	background-position: 34%;
}
.response{
	clear:both;
}
}

.branding, .response, .ui, .ux{
	margin-bottom:50px;
}